/* KOMINIARZ Anaïs */

/* INDEX */
header.index{
	margin-top:-30px;
	margin-bottom: 25px;
}

header.index h1{
	color: black;
}

 
header h3 {
	 color: white; 
 	text-shadow: black 0.3em 0.3em 0.3em;
}

header.index div{
 height: 200px;
 background-color: green;
}

body {
	background-image: url(images/fond.jpg);
}

form div{
	margin: 10px;
}


div.card{
	margin-left: -50px;
	margin-right: -50px;
	background: transparent;
}

/* AUTRE */

div .danse{
	text-align: center;
	margin-top: 70px;
	margin-bottom: 70px;
}


footer a {
	color:white;
	font-size: 20px
}

 footer a:hover{
 	color: red;
 	text-decoration: none;
 }

header.autre div{
	 margin-bottom: 30px; 
	 margin-top:-55px;
	 background-color: green;
	 height: 100px;
	 color:white;
}

h2{
	color:rgb(0,0,0,0.5) ;
	text-align: center;
}